<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBImLTKYFre6cXmA1neH0Wclux0_p0v-nY</string>
	<key>GCM_SENDER_ID</key>
	<string>1031389904224</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>saby.CookMate</string>
	<key>PROJECT_ID</key>
	<string>cookmate-acd7f</string>
	<key>STORAGE_BUCKET</key>
	<string>cookmate-acd7f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1031389904224:ios:3655ee35912a1ca8e7b205</string>
</dict>
</plist>